html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
  margin: 0;   
}

.top-nav {
	min-width: 970px;
	margin: 0 auto;
	background-color: #f22121;
	opacity: 0.775;
	border-bottom: 1px solid #DDD;
	position: fixed;
	width: 100%;
	z-index: 9999;
	height: 130px;	
}

.top-nav h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

#search-term {
  position: relative;
  margin-top: -6px;
}

#query {
	margin-left: 500px;
	margin-top: -5px;
  width: 380px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

button {
	width: 60px;
	height: 31px;
  position: absolute;
  top: -6px;
  right: 500px;
  left: 885px;
}
